.settings-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
}

.settings-left {
    display: flex;
    padding: 1rem;
    width: 15rem;
    height: 100%;
    border-radius: 1rem;
    border: solid 3px #333;
    box-shadow: #333 5px 5px 0px;
    box-sizing: border-box;
    gap: 1rem;
}

.settings-container.light .settings-left {
    background: #fffceb;
}

.settings-container.dark .settings-left {
    background: #4d4d4d;
}

.settings-right {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    padding: 1rem;
    border-radius: 1rem;
    border: solid 3px #333;
    box-shadow: #333 5px 5px 0px;
    box-sizing: border-box;
    gap: 1rem;
}

.settings-container.light .settings-right {
    background: #fffceb;
}

.settings-container.dark .settings-right {
    background: #4d4d4d;
}

.settings-right header {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 4rem;
    border-radius: 1rem;
    border: solid 3px #333;
    box-shadow: #333 5px 5px 0px;
    box-sizing: border-box;
}

.settings-container.light .settings-right header {
    background: #e5e2d3;
}

.settings-container.dark .settings-right header {
    background: #3D3D3D;
}

.settings-right header>.settings-right-header-buttons {
    display: flex;
    height: 100%;
    padding: 0.4rem;
    box-sizing: border-box;
}

.settings-right header>.settings-right-header-buttons>button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: none;
    border: none;
    height: 100%;
    width: 100%;
    border-radius: 0.6rem;
    cursor: pointer;
    aspect-ratio: 1 / 1;
}

.settings-container.light .settings-right header>.settings-right-header-buttons>button:hover {
    background: #ccc9bc;
}

.settings-container.dark .settings-right header>.settings-right-header-buttons>button:hover {
    background: #4d4d4d;
}

.settings-container.light .settings-right header>.settings-right-header-buttons>button:active {
    background: #b2b0a4;
}

.settings-container.dark .settings-right header>.settings-right-header-buttons>button:active {
    background: #5E5E5E;
}

.settings-right header>.settings-right-header-buttons>button>svg {
    width: 1.2rem;
    height: 1.2rem;
}

.settings-container.light .settings-right header>.settings-right-header-buttons>button>svg {
    color: #333;
}

.settings-container.dark .settings-right header>.settings-right-header-buttons>button>svg {
    color: #fffceb;
}

.settings-right main {
    flex: 1;
}