.popup {
    border-radius: 1rem;
    border: solid 3px #333;
    box-shadow: #333 5px 5px 0px;
    position: absolute;
    z-index: 10;
}

.popup.light {
    background: #ccc9bc;
    color: #333;
}

.popup.dark {
    background: #363636;
    color: #fffceb;
}

.popup div>main {
    display: flex;
    flex-direction: column;
    padding: 0.4rem;
}

.popup div>main>button {
    padding: 0.4rem 0.6rem;
    background: none;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.6rem;
    box-sizing: border-box;
}

.popup.light div>main>button:hover {
    background: #b2b0a4;
}

.popup.dark div>main>button:hover {
    background: #4d4d4d;
}

.popup.light div>main>button:active {
    background: #a09e93;
}

.popup.dark div>main>button:active {
    background: #5E5E5E;
}

.popup div>main>p {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}