.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background: #0000004f;
    cursor: pointer;
    z-index: 10;
}

.modal-box {
    cursor: auto;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    border: solid 3px #333;
    box-shadow: #333 5px 5px 0px;
    padding: 1rem;
    gap: 1rem;
}

.modal-container.light .modal-box {
    background: #fffceb;
}

.modal-container.dark .modal-box {
    background: #4d4d4d;
}

.modal-box>header {
    display: flex;
    align-items: center;
    padding: 0.4rem;
    gap: 2rem;
    justify-content: space-between;
    height: 4rem;
    border-radius: 1rem;
    border: solid 3px #333;
    box-shadow: #333 5px 5px 0px;
    box-sizing: border-box;
}

.modal-container.light .modal-box>header {
    background: #e5e2d3;
    color: #333;
}

.modal-container.dark .modal-box>header {
    background: #3d3d3d;
    color: #fffceb;
}

.modal-box>header>p {
    margin: 0;
    padding: 0.6rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.modal-header-buttons {
    display: flex;
    height: 100%;
    box-sizing: border-box;
}

.modal-header-buttons>button {
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none;
    background: none;
    height: 100%;
    width: 100%;
    border-radius: 0.6rem;
    cursor: pointer;
    aspect-ratio: 1 / 1;
}

.modal-container.light .modal-header-buttons>button:hover {
    background: #ccc9bc;
}

.modal-container.dark .modal-header-buttons>button:hover {
    background: #4d4d4d;
}

.modal-container.light .modal-header-buttons>button:active {
    background: #b2b0a4;
}

.modal-container.dark .modal-header-buttons>button:active {
    background: #5E5E5E;
}

.modal-header-buttons>button>svg {
    width: 1.2rem;
    height: 1.2rem;
}

.modal-container.light .modal-header-buttons>button>svg {
    color: #333;
}

.modal-container.dark .modal-header-buttons>button>svg {
    color: #fffceb;
}

.modal-box>div>main {
    display: flex;
    flex-direction: column;
    padding: 0.4rem;
    justify-content: space-between;
    min-height: 4rem;
    border-radius: 1rem;
    border: solid 3px #333;
    box-shadow: #333 5px 5px 0px;
    box-sizing: border-box;
}

.modal-container.light .modal-box>div>main {
    background: #e5e2d3;
}

.modal-container.dark .modal-box>div>main {
    background: #3d3d3d;
}

.modal-box>div>main>button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background: none;
    border: none;
    text-align: left;
    border-radius: 0.6rem;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 1rem;
}

.modal-container.light .modal-box>div>main>button {
    color: #333;
}

.modal-container.dark .modal-box>div>main>button {
    color: #fffceb;
}

.modal-container.light .modal-box>div>main>button:hover {
    background: #ccc9bc;
}

.modal-container.dark .modal-box>div>main>button:hover {
    background: #4d4d4d;
}

.modal-container.light .modal-box>div>main>button:active {
    background: #b2b0a4;
}

.modal-container.dark .modal-box>div>main>button:active {
    background: #5E5E5E;
}

.modal-box>div>main>button>svg {
    width: 1.2rem;
    height: 1.2rem;
}

.modal-container.light .modal-box>div>main>button>svg {
    color: #333;
}

.modal-container.dark .modal-box>div>main>button>svg {
    color: #fffceb;
}

.modal-box>div>form {
    display: flex;
    flex-direction: column;
    padding: 0.4rem;
    gap: 2rem;
}

.modal-box>div>form p {
    font-weight: bold;
    margin: 0;
    font-size: 0.8rem;
}

.modal-box>div>form>div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}