.button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0.8rem;
    border: solid 3px #333;
    box-shadow: #333 5px 5px 0px;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s ease;
}

.button.light {
    background-color: #e5e2d3;
    color: #333;
}

.button.dark {
    background-color: #3D3D3D;
    color: #fffceb;
}

.button:disabled {
    opacity: 30%;
    pointer-events: none;
}

.button:hover {
    border: solid 3px #f77066   ;
    box-shadow: #f77066 5px 5px 0px;
}

.button:hover:active {
    border: solid 3px #A0A0A0   ;
    box-shadow: #A0A0A0 5px 5px 0px;
}

.button svg {
    margin-right: 0.4rem;
}