.button {
    cursor: pointer;
    padding: 0.8rem;
    background-color: #fffceb;
    color: black;
    border: solid 3px #333;
    font-weight: bold;
    box-shadow: #333 5px 5px 0px;
    border-radius: 15px;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.button:hover {
    border: solid 3px #f77066   ;
    box-shadow: #f77066 5px 5px 0px;
}

.button:hover:active {
    border: solid 3px #A0A0A0   ;
    box-shadow: #A0A0A0 5px 5px 0px;
}
